################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Archigen/.vs/Archigen/v16
/Archigen/Archigen/bin
/Archigen/Archigen/obj
/Archigen/Archigen.Example/bin
/Archigen/Archigen.Example/obj
/Archigen/Archigen.Tests/bin/Debug/net5.0
/Archigen/Archigen.Tests/obj
/Archigen/.vs/Archigen/DesignTimeBuild
/Archigen/Archigen.Tests/bin/Release/net5.0
/Archigen/Archigen.Examples/bin/Release/net5.0
/Archigen/Archigen.Examples/obj
/Archigen/.vs
/Archigen/Archigen.Examples/bin/Debug/net5.0
/Archigen/Archigen.Examples/bin/Debug/net8.0
/Archigen/Archigen.Tests/bin/Debug/net8.0
